Project-7-DigitalTransformationCaseStudy/power-platform/flows/03-stakeholder-progress-update.json
{
  "properties": {
    "displayName": "DT-03 Bi-Weekly Stakeholder Progress Update",
    "description": "Runs on the 1st and 15th of each month. Queries all active transformation initiatives from Quickbase and sends a concise progress summary to the stakeholder distribution list.",
    "state": "Started",
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections":            { "defaultValue": {}, "type": "Object" },
        "$authentication":         { "defaultValue": {}, "type": "SecureObject" },
        "QBRealmHostname":         { "defaultValue": "yourcompany.quickbase.com", "type": "String" },
        "QBUserToken":             { "defaultValue": "", "type": "SecureString" },
        "QBInitiativesTableId":    { "defaultValue": "", "type": "String" },
        "StakeholderDistribution": { "defaultValue": "transformation-stakeholders@yourcompany.com", "type": "String" }
      },
      "triggers": {
        "Biweekly_1st_and_15th": {
          "type": "Recurrence",
          "recurrence": {
            "frequency": "Month",
            "interval": 1,
            "schedule": { "monthDays": [1, 15], "hours": ["7"], "minutes": [0] },
            "timeZone": "South Africa Standard Time"
          }
        }
      },
      "actions": {

        "Get_Active_Initiatives": {
          "type": "Http",
          "runAfter": {},
          "inputs": {
            "method": "POST",
            "uri": "https://api.quickbase.com/v1/records/query",
            "headers": {
              "QB-Realm-Hostname": "@parameters('QBRealmHostname')",
              "Authorization": "QB-USER-TOKEN @{parameters('QBUserToken')}",
              "Content-Type": "application/json"
            },
            "body": {
              "from": "@parameters('QBInitiativesTableId')",
              "select": [3, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
              "where": "{8.XEX.'Canceled'} AND {8.XEX.'Complete'}",
              "sortBy": [{ "fieldId": 9, "order": "ASC" }]
            }
          }
        },

        "Parse_Initiatives": {
          "type": "ParseJson",
          "runAfter": { "Get_Active_Initiatives": ["Succeeded"] },
          "inputs": {
            "content": "@body('Get_Active_Initiatives')",
            "schema": {
              "type": "object",
              "properties": {
                "data": { "type": "array" },
                "metadata": { "type": "object", "properties": { "numRecords": { "type": "integer" } } }
              }
            }
          }
        },

        "Build_Status_Rows": {
          "type": "Compose",
          "runAfter": { "Parse_Initiatives": ["Succeeded"] },
          "inputs": "@join(body('Parse_Initiatives')?['data'], '')"
        },

        "Send_Stakeholder_Update": {
          "type": "ApiConnection",
          "runAfter": { "Build_Status_Rows": ["Succeeded"] },
          "inputs": {
            "host": { "connection": { "name": "@parameters('$connections')['office365']['connectionId']" } },
            "method": "post",
            "path": "/v2/Mail/Send",
            "body": {
              "To": "@parameters('StakeholderDistribution')",
              "Subject": "Transformation Program Update — @{formatDateTime(utcNow(), 'd MMMM yyyy')}",
              "Body": "<h2>Digital Transformation Program — Bi-Weekly Update</h2><p><b>Date:</b> @{formatDateTime(utcNow(), 'dddd, d MMMM yyyy')}</p><p><b>Active Initiatives:</b> @{body('Parse_Initiatives')?['metadata']?['numRecords']}</p><table style='border-collapse:collapse;width:100%'><thead><tr style='background:#2C3E50;color:#fff'><th style='padding:8px;text-align:left'>Initiative</th><th style='padding:8px'>Phase</th><th style='padding:8px'>Progress</th><th style='padding:8px'>Schedule</th><th style='padding:8px'>Owner</th></tr></thead><tbody>@{outputs('Build_Status_Rows')}</tbody></table><p><a href='https://yourcompany.quickbase.com'>View Full Tracker</a> | <a href='https://app.powerbi.com'>View ROI Dashboard</a></p>",
              "IsHtml": true
            }
          }
        }

      }
    }
  }
}
